<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>IT ELITES</title>
<link rel="stylesheet"  type="text/css" href="../../stylesheets/Untitled-2.css">
<script type="text/javascript" language="JavaScript" src="../../javascripts/3.js"></script>		
<script type="text/javascript" language="JavaScript" src="../../javascripts/jquery.min.js"></script>		
</head>

<body>
<div id="header">
       <div class="logo">
       <h1>It</h1><h2>培优</h2>
       </div>
       <div id="nav">
         <ul>
           <li><a href="#home" onclick="change_bg(this)" class="current">It培优</a></li>
           <li><a href="#join" onclick="change_bg(this)">加入我们</a></li>
           <li><a href="#about" onclick="change_bg(this)">关于我们</a></li>
           <li><a href="#service" onclick="change_bg(this)">服务</a></li>
           <li><a href="#team" onclick="change_bg(this)">我们的团队</a></li> 
         </ul>
       </div>
</div>

<div id="home">
	<div class="jpg1">
	    <img src="../../images/1.png">
	</div>
	<h1>Stay&nbsp;&nbsp;&nbsp;&nbsp;hungry&nbsp;&nbsp;&nbsp;&nbsp;Stay&nbsp;&nbsp;&nbsp;&nbsp;foolish</h1>
	<a href="https://baike.baidu.com/item/%E5%9B%9B%E5%B7%9D%E5%B8%88%E8%8C%83%E5%A4%A7%E5%AD%A6IT%E5%9F%B9%E4%BC%98/8015103?fr=aladdin" target="_blank">Learn More</a>
</div>


<div id="join">
	<h1>Join&nbsp;&nbsp;Us</h1>	
	<div id="one" onmouseover="put()" onmouseout="out()">
		<h1>报名流程</h1>
		<p>浏览完页面之后，请进行资料的填写，报名加入我们，资料提交成功，后续我们将通过短信或qq联系你们！</p>
	</div>
	<div id="two" onmouseover="color()" onmouseout="colo()">
		<h1>资料填写</h1>
		<p>报名流程仔细看完了，就实际操作一下，我们欢迎你的加入！</p>
		<a href="./table1.html" target="_blank">报名表</a>
	</div>
	<div id="three" onmouseover="pu()" onmouseout="ou()">
		<h1>学员信息</h1>
		<p>16级的学长学姐可以在这里看到新学员的信息！</p>
		<a href="javascript:void(0)" onclick="openme()">学员信息</a> 
	</div>
</div>


<div id="about">
	<h1>About&nbsp;&nbsp;Us</h1>
	<p>我们是一个以学习为主的大家庭，大家在这里可以学到很多不同的东西。在学习的同时可以感受到来自学长学姐的关心和温暖，偶尔约一波饭，周末出去玩一天，在实验室聚一波玩一波都很正常。你们加入以后希望可以多多到实验室学习，实验室可比寝室、图书馆、教室或者一些不为人知的地方好太多，因为这里有我们！</p>
	<a href="https://baike.baidu.com/item/%E5%9B%9B%E5%B7%9D%E5%B8%88%E8%8C%83%E5%A4%A7%E5%AD%A6IT%E5%9F%B9%E4%BC%98/8015103?fr=aladdin" target="_blank">Learn More</a>
</div>

<div id="service">
	<h1>Services</h1>
	<img src="../../images/4.jpg">
	<div class="font">
	    <p>我们除了学习之外，还要服务大家，当然咱首先服务于计算机科学学院，毕竟它是我们的大佬。其次就是服务于计算机科学学院的各位同学，修修电脑、技术问题、做项目什么的都可以找到我们，我们都会给予相应的帮助。</p>
    </div>
</div>
<div id="team">
	<h1>Our&nbsp;&nbsp;Team</h1>
	<div id="big">
	<div  class="testmonials section s3">
			<div class="container">
			<div class="bs-example">
			    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
			        <ol class="carousel-indicators pagenate-icons">
			            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			            <li data-target="#myCarousel" data-slide-to="1"></li>
			            <li data-target="#myCarousel" data-slide-to="2"></li>
			            <li data-target="#myCarousel" data-slide-to="3"></li>
			        </ol>
			        <div class="carousel-inner">
			            <div class="active item">
			                <h2><img src="../../images/people1.png" title="name" /></h2>
			                <div class="carousel-caption caption">
			                  <h3>编程组</h3>
			                  <p>主要有：Windows编程小组、IOS组、嵌入式组、信息安全组、安卓组、ACM组，欢迎你们的加入！</p>
			                </div>
			            </div>
			            <div class="item">
			                <h2><img src="../../images/people2.png" title="name" /></h2>
			                <div class="carousel-caption caption">
			                  <h3>美工组</h3>
			                  <p>主要有：web前端组、平面设计组、视频编辑组，欢迎你们的加入！</p>
			                </div>
			            </div>
			            <div class="item">
			                <h2><img src="../../images/people3.png" title="name" /></h2>
			                <div class="carousel-caption caption">
			                  <h3>商务组</h3>
			                  <p>以职场礼仪培训、模拟招聘、商务ppt展示为基础，打造更加出色的商业精英！欢迎你们的加入！</p>
			                </div>
			            </div>
			            <div class="item">
			                <h2><img src="../../images/people4.png" title="name" /></h2>
			                <div class="carousel-caption caption">
			                  <h3>教师教育组</h3>
			                  <p>以远程教育为核心，通过摄影、动画制作、音频处理等方式，并运用PS、CorelDraw等绘图软件进行教学的编辑与制作。欢迎你们的加入！</p>
			                </div>
			            </div>
			        </div>    
			    </div>
		</div>
		</div>
		</div>
		</div>
		<script src="../../javascripts/bootstrap.min.js"></script>
</div>




<div id="div1"></div>
<div id="div2">
<span>登录</span>  
    <input class="user_mes" type="text" value="" placeholder="请输入账号" />  
    <input class="psw_mes" type="password" placeholder="请输入密码" />  
    <a class="login_btn" href="">登录</a> 
</div>


</body>
</html>
